<!DOCTYPE html>
<html>
	<head>
		<!-- in Ruby, the "||" operator means "if the preceding is null, then put this default value" -->
	  <!--<title><%= @title || ":: Ticketee ::" %></title>-->
	  <!-- we specified the "title" attribute with helpers...
	  	see application_helper.rb and show.html.erb-->
	  <title>
		  <% if content_for? (:title) %>
		  	 <%= yield (:title) %>
		  <% else %>
		  	::Ticketee::
		  <% end %>
	  </title>
	  <!-- CURIOSITY: Any route prefixed with /assets is served by a gem called "Sprockets", commonly referred as the "Asset Pipeline" -->
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

	  <!-- The "Sprockets" gem indicates the javascript files to be preprocessed by a coffescript interpreter -->
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>

	<body>

		<nav>
		<%= link_to "Sign up", new_user_path %>
		<!-- View the "config/routes.rb" file -->
		<%= link_to "Sign in", signin_path %>
		</nav>
		<!-- this is a good place to put the flash messages -->
		<!-- this will render the flash[:notice] we set up in the projects_controller -->
		<% flash.each do |key,value| %>
			<div class="flash" id='<%=key%>'>
				<%= value %>
			</div>
		<% end %>
		
		<%= yield %>

	</body>
</html>
